## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 15
print(a)

15

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [4]:
nom ="Guillermo Sayavedra"
print(nom)

Guillermo Sayavedra

5) Crear una variable que contenga un número complejo

In [5]:
b = 10 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(b)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
d = 3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
e = "True"
f = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [17]:
print(type(f))
print(type(e))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
suma = 10 + 6.5

11) Realizar una operación de suma de números complejos

In [11]:
g = 6 + 7j
h = 8 + 9j
print(g+h)

(14+16j)

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
i = g + 23
print(i)

(29+7j)

13) Realizar una operación de multiplicación

In [20]:
9 * 3

27

14) Mostrar el resultado de elevar 2 a la octava potencia

In [19]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
 27 / 4

6.75

16) De la división anterior solamente mostrar la parte entera

In [21]:
27 // 4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [22]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [23]:
4 * 6 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [24]:
print("Hola "+"Guillermo")

Hola Guillermo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
"2"== 2 # "2" es un str y 2 es un int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [31]:
"2" == str(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [34]:
a = float(3.8) #Al tener comillas y el float esta cambiado por una coma es un str y se produce el error

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [36]:
t=3
t-=1
print(t)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [37]:
1<<2 #esto representa al numero 4 en la tabla binaria, indica que el primer numero se corre dos lugares a la izquierda

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [38]:
2 + "2" #no se puede hacer porque uno es un int y el otro un str, cambiaría el resultado si cmbiamos un str a int o viceversa

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [40]:
m = 10
print(m+5)

15